body {
    margin: 0px;
    padding: 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
    justify-content: flex-start;
    background-color: rgba(191, 195, 211, 0.734);
}

body * {
    box-sizing: border-box;
}

.canvas-container {
    height: 100%;
    display: none;
}

.editor {
    background-color: #e3e3e3;
    width: 313px;
    margin-left: 10px;
}

.flex {
    display: flex;
}

.row {
    flex-direction: row;
}

.add-text {
    /* Style for "Rounded Re" */
    width: 188px;
    height: 24px;
    border-radius: 12px;
    background-color: #ffffff;
    margin-top: 30px;
}

.up {
    width: 39px;
    height: 38px;
    border-radius: 50px;
    background-color: #ffffff;
}

.down {
    width: 39px;
    height: 38px;
    border-radius: 50px;
    margin-left: 5px;
    background-color: #e3e3e3;
}

.up-container {
    background-color: #e3e3e3;
    height: 38px;
    border-radius: 50px;
    margin-bottom: 10px;
}

.container-trash>img {
    width: 39px;
    height: 38px;
    border-radius: 50px;
    margin-left: 5px;
    background-color: #ffffff;
}

.flex {
    display: flex;
}

.slider {
    -webkit-appearance: none;
    width: 100%;
    height: 25px;
    background: #d3d3d3;
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
}

.center-img {
    width: 26px;
    height: 26px;
}

.center {
    width: 39px;
    height: 38px;
    border-radius: 50px;
    background-color: #ffffff;
    display: flex;
}

.justify-content {
    justify-content: center;
}

.align-items {
    align-items: center;
}

.column {
    flex-direction: column;
}

.align-container>.align {
    margin: 5px;
}

.main-nav {
    /* Style for "Shape 1" */
    width: 100%;
    height: 130px;
    background-color: hsla(30, 14%, 29%, 0.653);
    margin-bottom: 20px;
    height: 132px;
}

.center {
    align-items: center;
}

.space-between {
    justify-content: space-between;
}

.space-around {
    justify-content: space-around
}

.clean-list {
    list-style-type: none;
}

.text-decoration {
    text-decoration: none;
}

.list {
    width: 530px;
}

.container-list {
    margin-right: 20px;
}

.icon-Blogin {
    /* Style for "Blogin." */
    width: 85px;
    height: 33px;
    color: #ffffff;
    font-family: Eurofurenceregular;
    font-size: 40px;
    font-weight: 400;
    /* Text style for "B, login" */
    letter-spacing: -0.8px;
    /* Text style for "." */
    letter-spacing: -0.8px;
    height: 130px;
    margin-left: 19px;
}

.icon-Blogin span {
    color: #58c93a;
}

.container-main {
    max-width: 980px;
    margin: 0 auto;
    width: 980px;
}

.nav-item {
    color: #ffffff;
}

.nav-list {
    width: 132px;
    height: 114px;
}

.align-center {
    align-items: center;
}

.flex-wrap {
    flex-wrap: wrap;
}

.containter-img {
    width: 100px;
    height: 100px;
    margin-left: 10px;
}

.container-gallery {
    width: 80%;
    height: 500px;
}

.img-meme {
    width: 100px;
    height: 100px;
}

.column {
    flex-direction: column;
}

.color {
    width: 100%;
    height: 100%;
    background-color: white;
}

.color-picker-1, .color-picker-2 {
    width: 150px;
    height: 18px;
}

.red {
    background-color: red;
}

.blue {
    background-color: blue;
}

.pink {
    background-color: pink;
}

.yellow {
    background-color: yellow;
}

.purple {
    background-color: purple;
}

.orange {
    background-color: orange;
}

.black {
    background-color: black;
}

.white {
    background-color: white;
}

/* .container-colors {
    background-color: beige;
} */

.container-colors:hover .color-picker-1, .container-colors:hover .color-picker-2 {
    /* top margin is 25px
    right margin is 50px
    bottom margin is 75px
    left margin is 100px */
    height: 40px;
    transition: height 2s;
}

.color-container {
    width: 100%;
    height: 71px;
}

.box select {
    background-color: #0563af;
    color: white;
    padding: 12px;
    width: 100%;
    border: none;
    font-size: 20px;
    box-shadow: 0 5px 25px rgba(0, 0, 0, 0.2);
    -webkit-appearance: button;
    appearance: button;
    outline: none;
}

.box select option {
    padding: 30px;
}

.box {
    background-color: black
}

.title-font {
    background-color: white;
}

@media (max-width: 720px) {
    body {
        width: 111vw;
    }
    .container-gallery {
        display: block;
        width: 100%;
    }
    .img-meme {
        width: 100%;
        height: 424px;
    }
    .container-main {
        width: 100%;
    }
    .containter-img {
        width: 100%;
        height: 424px;
    }
    .canvas-container {
        display: flex;
        flex-direction: column;
        width: 100%;

    }
    .editor {
        width: 100%;
    }
    .slider{
        width: 100%;
    }
    .add-text{
        width: 310px;
        height: 51px;
    }
    .nav-list{
        margin-left: 216px;
    }
}
.next-line-button{
    width: 113px;
    height: 50px;
    border-radius: 50px;
    background-color: azure;
}